<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginn</title>
    <link rel="stylesheet" href="/cssFiles/Loginn.css">
    <link rel="icon" href="/top laser black instagram.png" type="image/png">
</head>
<body>
    <img src="/top laser black .png" alt="Top Laser Image" />
    <h1>Log In</h1>
    <form method="post" action="Top-Laser-Loginn">
        <input name="UserName" type="text" placeholder="UserName:" required><br><br>
        <input name="Password" type="password" placeholder="password:" required><br><br>
        <button class="save" type="submit">Save</button>
        <br>
        <br>
        <p class="p1">New Here?</p>
        <p class="p2">Create New Account</p> <a class="a" href="Top-Laser-SignUp">✔</a>

    </form>
</body>
</html>