<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/cssFiles/SignUp.css">
    <link rel="icon" href="/top laser black instagram.png" type="image/png">
</head>
<body>
    <img src="/top laser black .png" alt="Top Laser Image" />
    <h1>Sign Up</h1>
    <form method="post" action="Top-Laser-SignUp">
        <input name="UserName" type="text" placeholder="UserName:" required><br><br>
        <input name="Password" type="password" placeholder="password:" required><br><br>
        <button class="save" type="submit">Save</button>
        <p>You Already Have Account?</p>
        <p class="p2">Log</p><a href="Top-Laser-Loginn">IN</a>

    </form>
</body>
</html>